/**
 * @file styles.css
 * @author 0xChristopher
 * @brief This file contains the css for the Crypto Website.
 */

*
{
    box-sizing: border-box;
}

html, body
{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Inter", sans-serif;
    color: #DEEBE8;
}

/**
 * Header
 */
header
{
    margin: 0;
    padding: 30px, 25px;
    min-height: 90px;
    background-color: #21222A;
    color: #61DAFB;
    display: flex;
}

.header--text
{
    padding: 10px;
}

/**
 * Main
 */
main
{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 10px;
    background-color: #282D35;
}

.cryptocurrencies--column-headers
{
    min-height: 45px;
}

/**
 * Cryptos
 */
.cryptocurrencies--column-headers, .cryptos
{
    display: flex;
    align-items: center;
    width: 100%;
    border-top: 1px solid #DEEBE8;
    padding: 10px;
    font-size: 14px;
}

.cryptocurrencies--column-headers
{
    font-weight: bold;
}

.cryptos
{
    min-height: 90px;
}

.cryptos:hover
{
    background-color: #21222A;
}

.cryptocurrencies--column-headers--rank, .cryptos--rank
{
    width: 7.5%;
    text-align: center;
}

.cryptocurrencies--column-headers--name, .cryptos--name
{
    width: 15%;
    text-align: left;
    font-weight: bold;
}

.cryptocurrencies--column-headers--price, .cryptos--price
{
    width: 7.5%;
    text-align: left;
}

.cryptocurrencies--column-headers--change, .cryptos--change
{
    width: 7.5%;
    text-align: right;
    font-weight: bold;
}

.green
{
    color: green;
}

.red
{
    color: red;
}

.cryptocurrencies--column-headers--market-cap, .cryptos--market-cap
{
    width: 15%;
    text-align: right;
}

.cryptocurrencies--column-headers--volume, .cryptos--volume
{
    width: 12.5%;
    text-align: right;
}

.cryptocurrencies--column-headers--circ-supply, .cryptos--circ-supply
{
    width: 15%;
    text-align: right;
}

/**
 * Footer
 */
footer
{
    margin: 0;
    padding: 30px, 25px;
    min-height: 90px;
    background-color: #21222A;
    color: #61DAFB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}