/**
 * @file styles.css
 * @author 0xChristopher
 * @brief This file contains the css for the Crypto Website.
 */

*
{
    box-sizing: border-box;
}

html, body
{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Inter", sans-serif;
    color: #DEEBE8;
}

/**
 * Buttons
 */

button
{
    border: none;
    padding: 5px;
    background-color: #58626f;
    color: #DEEBE8;
    font-weight: bold;
    border-radius: 5px;
}

button:hover
{
    cursor: pointer;
}

.dropbutton--container
{
    position: relative;
    display: inline-block;
}

.dropbutton--content
{
    display: none;
    position: absolute;
    background-color: #21222A;
    border-radius: 5px;
    box-shadow: 0px 3px 7.5px #323942;
    padding: 10px;
    min-width: 70px;
    margin-top: 5px;
}

.dropbutton--content--row
{
    padding: 10px;
    text-align: left;
    border-radius: 5px;
}

.dropbutton--content--row:hover
{
    background-color: #58626f;
    cursor: pointer;
}

.show
{
    display: block;
}

/**
 * Header
 */
header
{
    margin: 0;
    padding: 30px, 25px;
    min-height: 90px;
    background-color: #21222A;
    color: #61DAFB;
    display: flex;
}

.header--text
{
    padding: 10px;
}

/**
 * Main
 */
main
{
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #21222A;
}

.cryptocurrencies--column-headers
{
    min-height: 45px;
}

/**
 * Cryptos
 */
.cryptocurrencies--options
{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(180deg, #282D35 0%, #21222A 100%);
    min-height: 90px;
    padding: 10px;
}

.cryptocurrencies--options--content
{
    text-align: right;
}

.cryptocurrencies--column-headers, .cryptos
{
    display: flex;
    align-items: center;
    max-width: 100%;
    border-top: 1px solid #323942;
    padding: 10px;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
}

.cryptocurrencies--column-headers
{
    font-weight: bold;
}

.cryptos
{
    min-height: 90px;
}

.cryptos:hover
{
    background-color: #282D35;
}

.cryptocurrencies--column-headers--rank, .cryptos--rank
{
    width: 7.5%;
    text-align: center;
}

.cryptocurrencies--column-headers--name, .cryptos--name
{
    width: 15%;
    text-align: left;
    font-weight: bold;
}

.cryptos--name
{
    display: flex;
    justify-content: left;
}

.cryptos--name--logo
{
    max-width: 20px;
    max-height: 20px;
    margin-right: 5px;
}

.cryptocurrencies--column-headers--price, .cryptos--price
{
    width: 7.5%;
    text-align: left;
}

.cryptocurrencies--column-headers--change, .cryptos--change
{
    width: 7.5%;
    text-align: right;
    font-weight: bold;
}

.green
{
    color: green;
}

.red
{
    color: red;
}

.cryptocurrencies--column-headers--market-cap, .cryptos--market-cap
{
    width: 15%;
    text-align: right;
}

.cryptocurrencies--column-headers--volume, .cryptos--volume
{
    width: 12.5%;
    text-align: right;
}

.cryptocurrencies--column-headers--circ-supply, .cryptos--circ-supply
{
    width: 15%;
    text-align: right;
}

.cryptocurrencies--page-selector
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 45px;
}

/**
 * Pagination
 */
.pagination-container
{
    list-style-type: none;
    display: flex;
}

.pagination-item, .pagination-item--dots
{
    padding: 6px;
    border-radius: 5px;
}

.pagination-item:hover
{
    background-color: #58626f;
    cursor: pointer;
}

.selected
{
    background-color: #58626f;
}

/**
 * Footer
 */
footer
{
    margin: 0;
    padding: 30px, 25px;
    min-height: 90px;
    background-color: #21222A;
    color: #61DAFB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}