/**
 * @file styles.css
 * @author 0xChristopher
 * @brief This file contains the css for the Crypto Website.
 */

/**
 * Table of Contents
 * 1. General Styles
 * 2. Login Module
 * 3. Buttons
 * 4. Header Module
 * 5. Main Module
 * 6. Cryptos Module
 * 7. Currency Module
 * 8. Pagination Module
 * 9. Footer Module
 * 10. Scrollbar
 * 11. Toggle and Pseudo Class Styles
 */

/************************************************************
 * 1. General Styles
 *
 *
 ************************************************************/

*
{
    box-sizing: border-box;
}

html, body
{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #21222A;
    font-family: "Inter", sans-serif;
    color: #DEEBE8;
}

.link
{
    display: flex;
    align-items: center;
    color: #DEEBE8;
    text-decoration: none;
}

.app-container
{
    position: relative;
}

.login-page-mask
{
    display: none;
    background-color: black;
    opacity: 0.5;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.error-page
{
    color: black;
    text-align: center;
    margin-top: 12.5rem;
}

/************************************************************
 * 2. Login Module
 *
 *
 ************************************************************/

.login-container
{
    display: none;
    position: absolute;
    top: 12.5rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.login-box
{
    text-align: center;
    max-width: 35%;
    background-color: #21222A;
    border-radius: 0.3125rem;
    padding: 0.625rem;
    margin-left: auto;
    margin-right: auto;
}

.login-box--header-container
{
    display: flex;
    justify-content: center;
}

.login-box--header-container--header
{
    margin: 1rem;
}

.login-box--input-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 1rem;
}

.login-box--email-address, .login-box--password, .login-box--first-name,
.login-box--last-name
{
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
}

.login-box--email-address--input, .login-box--password--input,
.login-box--first-name--input, .login-box--last-name--input
{
    margin-bottom: 1rem;
    padding: 0.625rem;
    border-radius: 0.3125rem;
    border: none;
}

.login-box--login-button
{
    margin-bottom: 1rem;
}

/************************************************************
 * 3. Buttons
 *
 *
 ************************************************************/

button
{
    border: none;
    padding: 0.3125rem;
    background-color: #58626f;
    color: #DEEBE8;
    font-weight: bold;
    border-radius: 0.3125rem;
    min-width: 4.375rem;
}

.header--info-bar--button
{
    margin-left: 1rem;
}

.dropbutton--container
{
    position: relative;
    display: inline-block;
}

.dropbutton--content
{
    display: none;
    position: absolute;
    background-color: #21222A;
    border-radius: 0.3125rem;
    box-shadow: 0rem 0.1875rem 0.46875rem #323942;
    padding: 0.625rem;
    min-width: 4.375rem;
    margin-top: 0.3125rem;
}

.dropbutton--content--row
{
    padding: 0.625rem;
    text-align: left;
    border-radius: 0.3125rem;
}

.header--selected
{
    color: #61DAFB;
}

/************************************************************
 * 4. Header Module
 *
 *
 ************************************************************/

header
{
    margin: 0rem;
    padding: 1.875rem, 1.5625rem;
    min-height: 5.625rem;
    background-color: #21222A;
    border-bottom: 0.0625rem solid #323942;
    color: #61DAFB;
    display: flex;
    flex-direction: column;
}

.header--navigation
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header--navigation--text
{
    padding: 0.9375rem;
    margin-left: 0rem;
    margin-right: 2.5rem;
}

.header--navigation--container, .header--info-bar--stats-container
{
    display: flex;
    margin-left: 0rem;
    margin-right: auto;
}

.header--navigation--item
{
    margin-right: 1.25rem;
    color: #DEEBE8;
    cursor: pointer;
}

.header--navigation--search
{
    padding: 0.625rem;
    margin-right: 0.625rem;
    height: 1.875rem;
    width: 15.625rem;
    border-radius: 0.3125rem;
    border: none;
}

.header--info-bar
{
    padding: 0.625rem;
    min-height: 2.8125rem;
    color: #DEEBE8;
    font-size: 0.75rem;
    border-bottom: 0.0625rem solid #323942;
    display: flex;
    align-items: center;
}

.header--info-bar--button-container
{
    display: flex;
    align-items: center;
}

.header--info-bar--welcome-text
{
    margin-right: 1rem;
    font-size: 1rem;
    font-weight: bold;
}

.header--info-bar--stats
{
    display: flex;
    text-align: left;
    margin-right: 1rem;
}

.header--info-bar--stats--value
{
    color: #61DAFB;
    text-decoration: none;
}

/************************************************************
 * 5. Main Module
 *
 *
 ************************************************************/

main
{
    display: flex;
    flex-direction: column;
    margin: 0rem;
    background-color: #21222A;
}

.cryptocurrencies--column-headers
{
    min-height: 2.8125rem;
}

/************************************************************
 * 6. Cryptos Module
 *
 *
 ************************************************************/

.cryptocurrencies--options
{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(180deg, #282D35 0%, #21222A 100%);
    min-height: 5.625rem;
    padding: 0.625rem;
}

.cryptocurrencies--options--text
{
    margin-bottom: 0.625rem;
}

.cryptocurrencies--options--caption
{
    font-size: 0.875rem;
}

.cryptocurrencies--options--content
{
    text-align: right;
}

.cryptocurrencies--column-headers, .cryptos
{
    display: flex;
    align-items: center;
    max-width: 100%;
    border-top: 0.0625rem solid #323942;
    padding: 0.625rem;
    font-size: 0.875rem;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
}

.cryptocurrencies--column-headers
{
    font-weight: 700;
}

.cryptos
{
    min-height: 5.625rem;
}

.cryptos:hover
{
    background-color: #282D35;
}

.cryptocurrencies--column-headers--rank, .cryptos--rank
{
    width: 7.5%;
    min-width: 2.5rem;
    text-align: center;
}

.cryptocurrencies--column-headers--name, .cryptos--name
{
    width: 15%;
    min-width: 8.5rem;
    font-weight: 700;
}

.cryptos--name
{
    display: flex;
    justify-content: left;
}

.cryptos--name--logo
{
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.3125rem;
}

.cryptocurrencies--column-headers--price, .cryptos--price
{
    width: 7.5%;
    min-width: 7.5rem;
    text-align: right;
}

.cryptocurrencies--column-headers--change, .cryptos--change
{
    width: 7.5%;
    min-width: 4.5rem;
    text-align: right;
    font-weight: 700;
}

.cryptocurrencies--column-headers--market-cap, .cryptos--market-cap
{
    width: 15%;
    min-width: 8.5rem;
    text-align: right;
}

.cryptocurrencies--column-headers--volume, .cryptos--volume
{
    width: 12.5%;
    min-width: 8.5rem;
    text-align: right;
}

.cryptocurrencies--column-headers--circ-supply, .cryptos--circ-supply
{
    width: 15%;
    min-width: 11rem;
    text-align: right;
}

.cryptocurrencies--page-selector
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 2.8125rem;
}

/************************************************************
 * 7. Currency Module
 *
 *
 ************************************************************/

.currency--container
{
    display: flex;
    flex-direction:column;
}

.currency--logo
{
    width: 2rem;
    height: 2rem;
    margin-right: 0.3125rem;
}

.currency--data--container
{
    background-image: linear-gradient(180deg, #282D35 0%, #21222A 100%);
}

.currency--data
{
    display: flex;
    padding: 0.9375rem;
}

.currency--data--basic
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    margin-right: auto;
}

.currency--data--basic--title
{
    display: flex;
    align-items: center;
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 1rem;
    padding: 0.3125rem;
    font-size: 2.1rem;
    font-weight: 400;
}

.currency--data--basic--right-line, .currency--data--basic--left-line,
.currency--data--price--left-line, .currency--data--price--right-line
{
    display: flex;
    align-items: center;
    padding: 0.3125rem;
    font-size: 0.75rem;
}

.currency--data--basic--left-line, .currency--data--price--left-line
{
    margin-left: 0;
    margin-right: auto;
}

.currency--data--basic--right-line, .currency--data--price--right-line
{
    margin-left: auto;
    margin-right: 0;
}

.currency--data--basic--rank
{
    background-color: #282D35;
    padding: 0.3125rem;
    margin-right: 0.5rem;
    border-radius: 0.3125rem;
}

.currency--data--basic--category, .currency--data--basic--symbol, 
.currency--data--basic--link
{
    background-color: #58626f;
    margin-right: 0.5rem;
    padding: 0.3125rem;
    border-radius: 0.3125rem;
}

.currency--data--basic--tag
{
    background-color: #58626f;
    margin-right: 0.5rem;
    padding: 0.3125rem;
    border-radius: 1.25rem;
}

.currency--data--basic--symbol
{
    font-size: 0.75rem;
    font-weight: 300;
}

.currency--data--price
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.currency--data--price--value
{
    display: flex;
    align-items: center;
    padding: 0.3125rem;
    font-size: 2.1rem;
    font-weight: 400;
}

.currency--data--price--change
{
    padding: 0.3125rem;
    border-radius: 0.3125rem;
}

.currency--data--price--ratio
{
    font-size: 1rem;
}

.currency--metrics--container
{
    padding: 0.9375rem;
}

.currency--metrics
{
    display: flex;
    margin-top: 2rem;
    border-top: 0.0625rem solid #323942;
    font-size: 0.75rem;
}

.currency--metrics--data
{
    margin-top: 1.25rem;
    margin-left: 0;
    margin-right: auto;
    width: 25%;
}

.currency--metrics--data--outer-container
{
    margin-top: 1.5rem;
}

.currency--metrics--data--inner-container
{
    display: flex;
}

.currency--metrics--data--text
{
    color: #788697;
}

.currency--metrics--data--text-inline
{
    margin-top: 0.5rem;
    color: #788697;
}

.currency--metrics--data--number
{
    margin-top: 0.5rem;
    font-weight: 700;
    color: #DEEBE8;
}

.currency--metrics--data--number-inline
{
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: 0;
    font-weight: 700;
    color: #DEEBE8;
}

.currency--metrics--border
{
    margin-top: 2rem;
    border-bottom: 0.0625rem solid #323942;
}

.currency--metrics--data--border
{
    margin-top: 1.5rem;
    margin-right: 0.625rem;
    margin-left: 0.625rem;
    border-right: 0.0625rem solid #323942;
}

.currency--description
{
    padding: 0.9375rem;
}

.currency--description--title
{
    margin-top: 1.5rem;
    font-weight: 700;
    font-size: 1.5rem;
}

.currency--description--body
{
    margin-top: 0.5rem;
}

/************************************************************
 * 8. Pagination Module
 *
 *
 ************************************************************/

.pagination-container
{
    list-style-type: none;
    display: flex;
}

.pagination-item, .pagination-item--dots
{
    padding: 0.375rem;
    border-radius: 0.3125rem;
}

.pagination--selected
{
    background-color: #58626f;
}

/************************************************************
 * 9. Footer Module
 *
 *
 ************************************************************/

footer
{
    margin: 0;
    padding: 1.875rem, 1.5625rem;
    min-height: 5.625rem;
    background-color: #21222A;
    color: #61DAFB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/************************************************************
 * 10. Scrollbar
 *
 *
 ************************************************************/

::-webkit-scrollbar 
{
    width: 10px;
}

::-webkit-scrollbar-track 
{
    background: #21222A;
}

::-webkit-scrollbar-thumb {
    background: #323942;
}

::-webkit-scrollbar-thumb:hover {
    background: #282D35;
}

/************************************************************
 * 11. Toggle and Pseudo Class Styles
 *
 *
 ************************************************************/

button:hover, .login-box--header-container--header:hover
{
    cursor: pointer;
}

button:active
{
    background-color: #323942;
}

.dropbutton--content--row:hover, .pagination-item:hover
{
    background-color: #58626f;
    cursor: pointer;
}

.lock-scroll
{
    overflow: hidden;
}

.show
{
    display: block;
}

.green
{
    color: green;
}

.greenbg
{
    background-color: green;
}

.red
{
    color: red;
}

.redbg
{
    background-color: red;
}